.toggle-switch {
  display: inline-block;
}

.switch {
  --switch-height: 1.2em;
  --switch-width: 2.2em;
  --switch-inner-padding: 0.15em;
  --switch-inner-circle-radius: calc(
    var(--switch-height) - (2 * var(--switch-inner-padding))
  );
  --switch-toggle-offset: calc(
    var(--switch-width) - (2 * var(--switch-inner-padding)) -
      var(--switch-inner-circle-radius)
  );
  position: relative;
  display: inline-block;
  height: var(--switch-height);
  width: var(--switch-width);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-theme-disabled-color, #9e9e9e);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--switch-inner-circle-radius);
  width: var(--switch-inner-circle-radius);
  bottom: var(--switch-inner-padding);
  background-color: var(--main-theme-secondary-color, white);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  left: var(--switch-inner-padding);
}

html[dir="rtl"] .slider:before {
  left: calc(var(--switch-toggle-offset) + var(--switch-inner-padding));
}

input:checked + .slider {
  background-color: var(--main-theme-primary-color, #2196f3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--switch-toggle-offset));
  -ms-transform: translateX(var(--switch-toggle-offset));
  transform: translateX(var(--switch-toggle-offset));
}

html[dir="rtl"] input:checked + .slider:before {
  transform: unset;
  left: var(--switch-inner-padding);
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--switch-inner-circle-radius);
}

.slider.round:before {
  border-radius: 50%;
}
