.btn {
  padding: 0.6em 1.3em;
  margin: 0.8em 0 0 0;
  border-radius: 0.5em;
  border: 1px solid #d3d3d3;
  align-self: flex-end;
  font-weight: bold;
  background-color: var(--main-theme-primary-color);
  color: var(--main-theme-secondary-color);
}

.primary-btn {
  background-color: var(--main-theme-tertiary-color);
}
