.label-text {
  display: block;
  font-weight: bold;
  font-size: var(--main-font-subtext-size);
  margin: 0.3em 0;
}

.input-box {
  width: 100%;
  box-sizing: border-box;
  height: 2.4em;
  padding: 0.25em 0.8em;
  border-radius: 0.5em;
  border: 1px solid #d3d3d3;
  margin-bottom: 0.3em;
  font-size: var(--main-font-subtext-size);
}

.input-box:focus {
  outline-color: var(--main-theme-primary-color);
}
