:root {
  --main-padding: 15px;
  --main-font-size: 20px;
  --main-font-subtext-size: 0.85em;
  --main-bg-color: #f1f1f1;
  --main-container-bg-color: white;
  --main-txt-color: #505050;
  --main-link-color: #0878d4;
  --main-theme-primary-color: #0878d4;
  --main-theme-secondary-color: white;
  --main-theme-tertiary-color:#ff3a00;
  --main-theme-disabled-color: gray;
  --nav-height: 1em;
}

.App {
  background-color: var(--main-bg-color);
  font-size: var(--main-font-size);
  color: var(--main-txt-color);
}

.NavControls {
  color: var(--main-txt-color);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.App-link {
  color: var(--main-link-color);
}

.subtext {
  font-size: var(--main-font-subtext-size);
}

.imp-text{
  font-weight: bold;
  font-size: var(--main-font-subtext-size);
}
