:root {
  --main-padding: 15px;
  --main-font-size: 20px;
  --main-bg-color: #f8f8f8;
  --main-container-bg-color: white;
  --main-txt-color: #505050;
  --main-link-color: #0878d4;
  --main-theme-primary-color: #0878d4;
  --main-theme-secondary-color: white;
  --main-theme-disabled-color: gray;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
}

.NavControls {
  position: fixed;
  background: var(--main-theme-secondary-color);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
