:root {
  --main-padding: 15px;
  --main-font-size: 20px;
  --main-bg-color: #f8f8f8;
  --main-container-bg-color: white;
  --main-txt-color: #505050;
  --main-link-color: #0878d4;
  --main-theme-primary-color: #0878d4;
  --main-theme-secondary-color: white;
  --main-theme-disabled-color: gray;
  --nav-height: 1em;
}

.App {
  background-color: var(--main-bg-color);
  font-size: var(--main-font-size);
  color: var(--main-txt-color);
}

.NavControls {
  position: fixed;
  top: 0;
  background: var(--main-theme-secondary-color);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.App-link {
  color: var(--main-link-color);
}
